<div class="view">
    <div class="pull-right">
        <a class="btn btn-default btn-menu" href="/todo">Todo</a>
    </div>
    <h2>Getting Started</h2>
    <p class="alert alert-warning">
        The workflow consists of three core tools. The first tool used is npm
        which is typically bundled with <a href="https://nodejs.org/">NodeJS</a>. Npm
        is used only to install jspm. Once that's done you'll be
        using jspm's CLI and Gulp almost exclusively. The second being
        <a href="http://jspm.io/">jspm</a> itself and finally
        <a href="http://gulpjs.com/">Gulp</a>.
    </p>
    <h4>Downloading & Installing Node</h4>
    <p>
        This project requires NodeJS which can be <a href="https://nodejs.org/download/">downloaded here</a>.
        Installation for your platform can be found on the
        <a href="https://github.com/joyent/node/wiki/Installing-Node.js-via-package-manager">installation wiki</a>.
    </p>
    <p>
        For Mac users you can alternatively install node using Homebrew as seen below.
    </p>
    <pre>
        $ brew install node
    </pre>
    <h4>Installing jspm</h4>
    <p>
        Install jspm globally to expose the cli utility from your terminal or console.
    </p>
    <pre>
        $ npm install jspm -g
    </pre>
    <h4>Cloning & Installing Project</h4>
    <p>
        There are a few ways you can object the project. The first is likely the easiest using the npm package manager.
    </p>
    <pre>
        $ npm install jspm-angular-seed
    </pre>
    <p>
        Alternatively you can clone the project using Git by running the following.
    </p>
    <pre>
        $ git clone https://github.com/origin1tech/jspm-angular-seed.git
    </pre>
    <h4>Installing Project Dependencies</h4>
    <p>
        Run a standard npm install to install the project's dependencies by changing your current working directory
        to the project's path then running the npm install command.
    </p>
    <pre>
        $ cd jspm-angular-seed <br/>
        $ npm install
    </pre>
    <h4>Chrome Extension <small>Optional</small></h4>
    <p>
        This project uses a live reload component which updates your browser automatically upon
        changes by listenting to sockets. To get the benefit of this you may wish to install the
        Chrome extenstion which makes this rather seamless (highly recommended). You can find the
        extenstion in the
        <a href="https://chrome.google.com/webstore/detail/livereload/jnihajbhpnppcggbcgedagnkighmdlei?hl=en-US">Chrome Extenstion Store</a>.
    </p>
    <h4>Running Project</h4>
    <p>
        To run the project issue the following command from your terminal or console. This will run the live server
        while watching for file changes. When a file is changed you will see "Watched" along with the relevant file
        name. This indicates the server saw that file change and consequently issued a notify command to update
        your browser.
    </p>
    <pre>
        $ gulp serve
    </pre>
    <h4>What's Next</h4>
    <p>
        Take a look at the <a href="/todo">Todo</a> page. There you'll find a couple of additional ideas
        that should get you started. In short you'll want to add some things to your workflow and
        likely need to dig deeper into ES6, modules and SystemJS.
    </p>
</div>