<div class="view">
    <div class="pull-right">
        <a class="btn btn-default btn-menu" href="/">Home</a>
    </div>
    <h2>Resources</h2>
    <p class="alert alert-warning">
       List of resources used in this project.
    </p>
    <ul>
        <li><a href="https://nodejs.org/">NodeJS</a> - core framework that makes it all work.</li>
        <li><a href="http://jspm.io/">jspm</a> - jspm package manager.</li>
        <li><a href="http://gulpjs.com">Gulp</a> - workflow enhancement tool.</li>
        <li><a href="https://angularjs.org/">AngularJS</a> - most popular client side JavaScript framework.</li>
        <li><a href="https://github.com/angular-ui/ui-router">ui-router</a> - router from angular-ui project.</li>
        <li><a href="https://github.com/origin1tech/jspm-angular-seed">jspm-angular-seed</a> -
            github repository for this project.</li>
        <li><a href="https://github.com/origin1tech/jspm-angular-seed/issues">Github Issues</a> - location to file
            issues that you may find.</li>
        <li><a href="https://www.npmjs.com/package/gulp-jshint">gulp-jshint</a> - linting code quality tool.</li>
        <li><a href="https://chrome.google.com/webstore/detail/livereload/jnihajbhpnppcggbcgedagnkighmdlei?hl=en-US">
            Chrome Extenstion</a> - link to extension store for livereload.</li>
    </ul>
</div>