/*
 * Placeholder Stylesheet
 */

*{
    margin: 0;
}
body, html {
    height: 100%;
}

.view {
    padding: 24px 0;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

